.button {
    border: none;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button.button-default {
    background-color: #a2a2a2;
    color: #444;
}

.button.button-primary {
    background-color:#0053ff;
    color: whitesmoke;
}

.button.button-danger {
    background-color: #f83d3d;
    color: whitesmoke;
}

.button.button-warning {
    background-color:#f8f83a;
    color: #444;
}

.button.button-success {
    background-color:#42f842;
    color: #444;
}