/* Parent */

.button {
    border: none;
    border-radius: 0.3em;    
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    margin: 4px 2px;
    padding: 15px;
}

/* Colors */

.button.button-default { background-color: $default; color: $darker; }
.button.button-dark    { background-color: $darker; color: $white; }
.button.button-primary { background-color: $primary; color: $darker; }
.button.button-danger  { background-color: $danger;  color: $white; }
.button.button-warning { background-color: $warning; color: $darker;}
.button.button-success { background-color: $success; color: $darker; }

.button.button-default:hover { background-color: $h_default; color: $darker; }
.button.button-dark:hover    { background-color: $h_dark; color: $white; }
.button.button-primary:hover { background-color: $h_primary; color: $darker; }
.button.button-danger:hover  { background-color: $h_danger;  color: $white; }
.button.button-warning:hover { background-color: $h_warning; color: $darker;}
.button.button-success:hover { background-color: $h_success; color: $darker; }

/* Sizes */

.button.small { font-size: 12px; margin: 4px 2px; padding: 11px; }
.button.large { font-size: 20px; margin: 4px 2px; padding: 19px; }