.button {
    border: none;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button.button-default {
    background-color: $s_default;
    color: $dark;
}

.button.button-primary {
    background-color: $s_primary;
    color: $white;
}

.button.button-danger {
    background-color: $s_danger;
    color: $white;
}

.button.button-warning {
    background-color: $s_warning;
    color: $dark;
}

.button.button-success {
    background-color:$s_success;
    color: $dark;
}