/**
  * CAKE CSS
  * Author: Juanjo Salvador
  * Webpage: http://juanjosalvador.me/
  * Version: 0.0.3
  * Github: http://github.com/JuanjoSalvador/cake-css
  * License: MIT
  */

@import 'fonts';
@import 'colors';
@import 'headers';
@import 'columns';
@import 'boxes';
@import 'buttons';
@import 'links';

body {
    font-family: $lora;
    background-color: $white;
}

/*
 * PARRAGRAPHS
 */

 p {
    font-size: 13pt;
    text-align: justify;
 }

/*
 * CLASSES
 */ 

.center {
    text-align: center;
}

footer {
    bottom: 0;
    height: 5em;
    background-color: darkred;
    width: 100%;
    color: white;
    font-family: $cabin;
    padding: 12px;
    float: left;
}