/* ALPHA COLORS */

$default: rgba(0, 0, 0, 0.20);
$primary: rgba(0, 83, 255, 0.35);
$danger:  rgba(255, 0, 0, 0.35);
$warning: rgba(255, 255, 0, 0.35);
$success: rgba(0, 255, 0, 0.35);


/* SOLID COLORS */

$s_default: #a2a2a2;
$s_primary: #0053ff;
$s_danger:  #f83d3d;
$s_warning: #f8f83a;
$s_success: #42f842;


$white: #f5f5f5;
$dark: #444;