/* ALPHA COLORS */

$default: rgba(64, 78, 77, 0.5);
$primary: rgba(91, 192, 235, 0.8);
$danger:  rgba(195, 66, 63, 0.8);
$warning: rgba(253, 231, 76, 0.8);
$success: rgba(155, 197, 61, 0.8);

/* HOVER COLORS */

$h_default: rgba(64, 78, 77, 1);
$h_primary: rgba(91, 192, 235, 1);
$h_danger:  rgba(195, 66, 63, 1);
$h_warning: rgba(253, 231, 76, 1);
$h_success: rgba(155, 197, 61, 1);