input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email] {
    height: 2.5em;
    font-family: 'Cabin', sans-serif;
    font-size: 1em;
    width: 100%;
}

label.form-input {
    font-family: 'Cabin', sans-serif;
    font-size: 1.3em;
    position: relative;
    float: right;
    vertical-align: center;
}