* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    min-height: 1px;
    width: 8.33%;
    padding: 12px;
    margin-bottom: 1em;
}

// Rows
.row::before,
.row::after {
    content: "";
    clear: both;
    display: table;
}

// Cols

.col-1 { width: 6.7675%; margin-right: 1.5625%; }
.col-2 { width: 15.0975%; margin-right: 1.5625%; }
.col-3 { width: 23.427500000000002%; margin-right: 1.5625%; }
.col-4 { width: 31.7575%; margin-right: 1.5625%; }
.col-5 { width: 40.0875%; margin-right: 1.5625%; }
.col-6 { width: 48.417500000000004%; margin-right: 1.5625%; }
.col-7 { width: 56.7475%; margin-right: 1.5625%; }
.col-8 { width: 65.0775%; margin-right: 1.5625%; }
.col-9 { width: 73.4075%; margin-right: 1.5625%; }
.col-10 { width: 81.7375%; margin-right: 1.5625%; }
.col-11 { width: 90.0675%; margin-right: 1.5625%; }
.col-12 { width: 98.39750000000001%; margin-right: 1.5625%; }

// Containers

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.container-full {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

.container *{
    box-sizing: border-box;
}